:root {
	--primary-white: #ffffff;
	--primary-black: #000000;
	--golden-yellow: #ffd831;
	--dark-gray: #2b2525;
	--light-yellow: #ffec9a;

	--bg-sea-green: #2e8b57;
	--bg-light-sea-green: #8deeb7;
	--bg-dark-gray: #191c21;
	--light-gray: #d5d6db;
	--bg-warning-red: #f26565;
}
